[Unit]
Description=EcoBin on-demand business activation helper socket

[Socket]
ListenStream=/run/ecobin/privileged/business-activation.sock
Accept=yes
SocketUser=root
SocketGroup=ecobin-privileged-helper-ipc
SocketMode=0660
DirectoryMode=0750
Backlog=8
MaxConnections=1
RemoveOnStop=yes
FlushPending=yes
